<nav>
    <header>
        <div class="logo">
            <div class="title">ObieTel Market</div>
            <div class="description">A Marketplace of Rates for Carriers</div>
        </div>
    </header>
    <div>
        <a routerLink="dashboard" routerLinkActive="active-link">
            <span><i class="fas fa-home"></i>  <span class="link-text">Dashboard</span></span>
        </a>
        <a routerLink="rates" routerLinkActive="active-link">
            <span><i class="fas fa-table"></i> <span class="link-text">Rates Table</span></span>
        </a>
        <a routerLink="statistics"  routerLinkActive="active-link">
            <span><i class="far fa-chart-bar"></i>  <span class="link-text">Stats</span></span>
        </a>
        <a routerLink="market"  routerLinkActive="active-link">
            <span><i class="fas fa-shopping-cart"></i>  <span class="link-text">Market</span></span>
        </a>
        <a routerLink="account"  routerLinkActive="active-link">
            <span><i class="far fa-user-circle"></i>  <span class="link-text">Account</span></span>
        </a>
        <a routerLink="contact"  routerLinkActive="active-link">
            <span><i class="fas fa-phone-volume"></i> <span class="link-text">Contact Us</span></span>
        </a>
    </div>
</nav>