<header> 
    <aside>
      <div class="user-panel">
            <i class="fas fa-user-circle fa-2x"></i> 
            <span class="account-name">Carrier 1</span>
            <span class="alerts">
                    <i class="fas fa-exclamation-triangle"></i> 
                    <span class="alert-counter">7</span>
            </span>
            <span class="emails">
                    <i class="fas fa-envelope-open"></i>
                    <span class="alert-counter">22</span>
            </span>
      </div>
    </aside>
</header>