
header {
    min-height: 40px; min-width: calc(100% - 280px);
    position: fixed; left: 0; top: 0;
    background-color: #ffffff;
    margin-left: 280px;

    aside {
        min-height: 40px; width: auto;
        margin-left: 20px; margin-right: 20px;
        border-bottom: 1px solid gray;
        display: flex;
        align-items: center;

        .user-panel {
            min-height: 30px; width: 100%;
            // background-color: lightgray;
            vertical-align: middle;

            .fa-user-circle {
                min-height: 25px;
            }

            .account-name {
                font-size: 15px;
            }

            .alerts {
                padding-left: 10px;

                .fa-exclamation-triangle {
                    color: gray;
                    font-size: 18px;
                }

                .alert-counter {
                    color: black;
                    border: 1.5px solid orange;
                    padding-left: 5px;
                    padding-right: 5px;
                    border-radius: 40%;
                    font-size: 13px;
                }
            }

            .emails {
                padding-left: 5px;
                .fa-envelope-open {
                    color: gray;
                    font-size: 18px;
                }

                .alert-counter {
                    color: black;
                    border: 1.5px solid red;
                    padding-left: 5px;
                    padding-right: 5px;
                    border-radius: 40%;
                    font-size: 13px;
                }

            }
        }
        
    }

}

header.active {
    margin-left: 60px; min-width: calc(100% - 60px);
}