<div class="filter-container">

    <header>Filter By: <span (click)="resetFilter()"><i class="fas fa-undo"></i></span></header>

        <hr>

        <form [formGroup]="priceFilterFormGroup" class="filter-group">
            <div class="filter-group"> 
                <div class="filter-option price">
                    <h4>Price</h4>
                    <div class="filter-option-inner">
                        <mat-checkbox disableRipple formControlName="lowestPriceCtrl" (change)="onPriceChange()" (click)="onLowestPriceClick()">Lowest Price</mat-checkbox> <br>
                        <mat-checkbox disableRipple formControlName="highestPriceCtrl" (change)="onPriceChange()" (click)="onHighestPriceClick()">Highest Price</mat-checkbox>
                    </div>
                </div>
            </div>
        </form>

        <hr>

        <form class="filter-group">
            <div class="filter-group">
                <div class="filter-option rating">
                    <h4>Rating</h4>
                    <div class="filter-option-inner">
                        <div class="rate" (click)="onClickRating(4)" [class.active]="isRatingActiveFour">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i> & up
                        </div>
                        <div class="rate" (click)="onClickRating(3)" [class.active]="isRatingActiveThree">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> & up
                        </div>
                        <div class="rate" (click)="onClickRating(2)" [class.active]="isRatingActiveTwo">
                            <i class="fas fa-star"></i><i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> & up
                        </div>
                        <div class="rate" (click)="onClickRating(1)" [class.active]="isRatingActiveOne">
                            <i class="fas fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i><i class="far fa-star"></i> & up
                        </div>
                    </div>
                </div>
            </div>
        </form>

        <hr>

        <form class="filter-group">
            <div class="filter-group">
                <div class="filter-option rating">
                    <h4>Quality of Service</h4>
                    <div class="filter-option-inner">
                        <div class="signal-bars" id="signalbarFilter_4" (click)="onClickQoS(4)" [class.active]="isQoSActiveFour">
                            <div class="first-bar bar signalon"></div>
                            <div class="second-bar bar signalon"></div>
                            <div class="third-bar bar signalon"></div>
                            <div class="fourth-bar bar signalon"></div>
                            <div class="fifth-bar bar"></div>
                            & up
                        </div>
                        <div class="signal-bars" id="signalbarFilter_3" (click)="onClickQoS(3)" [class.active]="isQoSActiveThree">
                            <div class="first-bar bar signalon"></div>
                            <div class="second-bar bar signalon"></div>
                            <div class="third-bar bar signalon"></div>
                            <div class="fourth-bar bar"></div>
                            <div class="fifth-bar bar"></div>
                            & up
                        </div>
                        <div class="signal-bars" id="signalbarFilter_2" (click)="onClickQoS(2)" [class.active]="isQoSActiveTwo">
                            <div class="first-bar bar signalon"></div>
                            <div class="second-bar bar signalon"></div>
                            <div class="third-bar bar"></div>
                            <div class="fourth-bar bar"></div>
                            <div class="fifth-bar bar"></div>
                            & up
                        </div> 
                        <div class="signal-bars" id="signalbarFilter_1" (click)="onClickQoS(1)" [class.active]="isQoSActiveOne">
                            <div class="first-bar bar signalon"></div>
                            <div class="second-bar bar"></div>
                            <div class="third-bar bar"></div>
                            <div class="fourth-bar bar"></div>
                            <div class="fifth-bar bar"></div>
                            & up
                        </div> 
                    </div>
                </div>
            </div>
        </form>
            
        
        
        <!--
            <- - <div class="filter-group"> <!- - QOS - ->
                <div class="filter-option-title">Quality of Service</div>
                <mat-radio-group class="filter-radio-group" [(ngModel)]="currentQosToggle">
                    <mat-radio-button class="qos-radio-button" *ngFor="let qos of qosFilterGroup" [value]="qos">
                        {{qos}}
                    </mat-radio-button>
                </mat-radio-group>
                <hr>
                <mat-radio-group class="filter-radio-group inner" [(ngModel)]="currentQosToggle">
                    <mat-radio-button class="ratings-sort-radio-button" *ngFor="let qos of qosSortGroup" [value]="qos">
                        {{qos}}
                    </mat-radio-button>
                </mat-radio-group>    
            </div>

            <hr>

            <div class="filter-group"> <!- - Carrier Tier - ->
                <div class="filter-option-title">Carrier Tier</div>
                <mat-radio-group class="filter-radio-group" [(ngModel)]="currentCarrierTierToggle">
                    <mat-radio-button class="carrierTier-filter-radio-button" *ngFor="let tier of carrierTierFilterGroup" [value]="tier">
                        {{tier}}
                    </mat-radio-button>
                </mat-radio-group>
                <hr>
                <mat-radio-group class="filter-radio-group inner" [(ngModel)]="currentCarrierTierToggle">
                    <mat-radio-button class="carrierTier-sort-radio-button" *ngFor="let tier of carrierTierSortGroup" [value]="tier">
                        {{tier}}
                    </mat-radio-button>
                </mat-radio-group>    
            </div>            

            <div class="filter-group"> <!- - Coverage - ->
                <div class="filter-option-title">Carrier Coverage</div>
                <mat-radio-group class="filter-radio-group" [(ngModel)]="currentCoverageToggle">
                    <mat-radio-button class="price-radio-button" *ngFor="let coverage of coverageFilterGroup" [value]="coverage">
                        {{coverage}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <hr>

            <div class="filter-group"> <!- - Resellable - ->
                <div class="filter-option-title">Resellable Ratecards</div>
                <mat-radio-group class="filter-radio-group" [(ngModel)]="currentResellableToggle">
                    <mat-radio-button class="price-radio-button" *ngFor="let resellable of resellableFilterGroup" [value]="resellable">
                        {{resellable}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <hr>

            <div class="filter-group"> <!- - Expiration Date - ->
                <div class="filter-option-title">Expiration Date</div>
                <br>
                Insert Date Module Here
            </div>

            <hr>

            <div class="filter-group"> <!- - Quantity Available - ->
                <div class="filter-option-title">Quantity Available</div>
                <br>
                Range: 
                <hr>
                <mat-radio-group class="filter-radio-group" [(ngModel)]="currentQuantityToggle">
                    <mat-radio-button class="price-radio-button" *ngFor="let quantity of quantitySortGroup" [value]="quantity">
                        {{quantity}}
                    </mat-radio-button>
                </mat-radio-group>
            </div>

            <hr>

            <div class="filter-group"> <!- - Popular Deals - ->
                <div class="filter-option-title">Popular Deals</div>
                <div class="checkbox-container">
                    <mat-checkbox class="checkbox"></mat-checkbox>
                </div>
            </div>

            <hr>

            <div class="filter-group"> <!- - Whitelisted - ->
                <div class="filter-option-title">Toggle Whitelist</div>
                <div class="checkbox-container">
                    <mat-checkbox class="checkbox"></mat-checkbox>
                </div>
            </div>

            <hr>

            <div class="filter-group"> <!- - Blacklisted - ->
                <div class="filter-option-title">Toggle Blacklist</div>
                <div class="checkbox-container">
                    <mat-checkbox class="checkbox"></mat-checkbox>
                </div>
            </div>

            <hr> -->



    </div>