.filter-container {
    width: 20vw; height: 80.5vh;
    border-left: 1px solid #E0E0E0;
    border-right: 1px solid #E0E0E0;
    border-top: 1px solid #E0E0E0;
    background-color: rgba(255,255,255, 0.8);
    overflow-y: auto;

    header {
        font-size: 20px;
        font-weight: bold;
        padding-top: 10px;
        margin-bottom: 10px;
        padding-left: 5px;

        .fa-undo {
            float: right;
            margin-right: 10px;

            &:hover {
                cursor: pointer;
                color: darkgray;
            }
        }
    }

    .filter-option-title{
        font-size: 18px;
    }

    mat-radio-group {
        margin-top: 10px;
    }

    mat-radio-button {
        margin-top: 5px;
        user-select: none;
    }

    .checkbox-container {
        margin-top: 10px;
    }

    hr {
        height: 1px;
        background-color: #E0E0E0;
        border: none;

        &:first-of-type {
            height: 1px;
            background-color: gray;
            border: none;
        }
    }

    .filter-group {
        width: 90%; height: auto;
        display: inline-block;
        margin-left: auto; margin-right: auto;
        user-select: none;

        h4 {
            padding-bottom: 10px;
        }

        .filter-option-inner {
            padding-left: 10px;
        }

        .filter-option {
            padding-left: 20px;

            h4 {
                font-weight: bold;
                font-size: 18px;
            }
        }

        .filter-radio-group {
            display: inline-flex;
            flex-direction: column;
            margin-bottom: 5px;
        }

        .inner {
            margin-top: 0px;
        }

        .rate {
            width: 100%;
            padding-bottom: 3px;
            display: inline-block;
            &:hover {
                cursor: pointer;
            }
            &.active {
                color: blue;
            }
        }

        .signal-bars {
            height: 20px; width: 60%;
            margin-bottom: 5px;
            
            .bar {
                width: 5%;
                display: inline-block;
                border: 1px solid black;
            }

            .first-bar  { 
                height: 20%; 
            }
            .second-bar { 
                height: 40%; 
            }
            .third-bar  { 
                height: 60%; 
            }
            .fourth-bar { 
                height: 80%; 
            }
            .fifth-bar  {
                height: 99.9%; 
            }

            &:hover {
                cursor: pointer;
            }
            &.active {
                color: green;
            }
            &.active .signalon {
                background-color: green;
            }
        }

        .signalon {
            background-color: #000000;  
        }


        // #signalbarFilter_4 {
        //     .first-bar { 
        //         background-color: #000000;
        //     }
        //     .second-bar { 
        //         background-color: #000000;
        //     }
        //     .third-bar { 
        //         background-color: #000000;
        //     }
        //     .fourth-bar { 
        //         background-color: #000000;
        //     }
        //     .fifth-bar {
        //         background-color: #ffffff;
        //     }
        // }

    }
}
