<section>
    <div class="top-section">
        <div class="by-phone">
            <div class="inner-content">
                <h1>Phone:</h1>
            </div>
        </div>
        <div class="by-email">
            <div class="inner-content">
                <h1>Email:</h1>
            </div>
        </div>
   </div>
    <div class="bottom-section">
        <div class="live-chat">
            <div class="inner-content">
                <h1>Chat:</h1>
            </div>
        </div>
        <div class="additional-info">
            <div class="inner-content">
                <h1>Additional Information:</h1>
            </div>
        </div>
    </div>
</section>